<!-- 前端HTML(member.html) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week6-會員註冊系統</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="hollo_word">歡迎光臨，這是會員頁</h1>
    <div class="small_title">{{ username }}，歡迎登入系統</div> 
    <div class="small_title"><a href="/signout">登出系統</a></div>
    <hr/>
    <div class="small_title">快來留言吧</div>
    <form class="input_data" method="post" action="/createMessage">
        <div class="item">內容<input type="text" name="content"/></div>
        <button class="btn" type="submit">送出</button>
    </form>
    <hr/>
    <div class="small_title">
        {% for message in messages %}
            <div class="message_item">
                <p><strong>{{ message[0] }}</strong>: {{ message[1] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
